@page
@model OdeToFood.ListModel
@{
    ViewData["Title"] = "List";
}

<h1>Resturants</h1>

<form method="get">  @* for SEARCH operation, a GET verb is ideal, and it sends the params in the query string, enabling to bookmark the page url with the query *@
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" value="" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="fas fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

<table class="table">
    @foreach (var resturnat in Model.Resturants)
    {
    <tr>
        <td>@resturnat.Name</td>
        <td>@resturnat.Location</td>
        <td>@resturnat.Cuisine</td>
    </tr>
    }
</table>

<div>
    @Model.LocalMessage
    <br>
    @Model.ExternalMessage
</div>


